doctype html
html(lang="ru")
    head
        title= "Masons mafia club statistics"
        meta(charset='utf-8', name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/font-awesome.min.css')
        link(rel='stylesheet', href='/css/app.css')
        script(src='/js/jquery.min.js', type='text/javascript')
        script(src='/js/bootstrap.min.js', type='text/javascript')
        script(src='/js/jquery.tablesorter.js', type='text/javascript')
        script(src='/js/jquery.tablesorter.widgets.js', type='text/javascript')
        script(src='/js/moment.min.js', type='text/javascript')
        script(src='/js/ru.js', type='text/javascript')
        script(src='/js/PlayerComparator.js', type='text/javascript')
        script(src='/js/common_stat.js', type='text/javascript')
    body
        include navigation
        div.loader
            i.fa.fa-spinner.fa-spin.fa-3x
        div.stat-tables.container
            h2 Рейтинг
                small.pull-right
                    span &nbsp
                    a.top-10(href='#') все игроки
            table.common-rating
                thead
                    tr
                        th Место
                        th Никнейм
                        th Средний рейтинг
                        th Игр
                        th Побед
                        th Всего очков
                tbody
            h2 Победы
            table.wins
                thead
                    tr
                        th Место
                        th Никнейм
                        th Всего
                        th Мирным
                        th Шерифом
                        th Мафией
                        th Доном
                tbody
            h2 Роли
            table.roles
                thead
                    tr
                        th Место
                        th Никнейм
                        th Всего
                        th Мирным
                        th Шерифом
                        th Мафией
                        th Доном
                tbody
            h2 Влияние за столом
            table.impact
                thead
                    tr
                        th Место
                        th Никнейм
                        th Лайков
                        th Лучший игрок
                        th
                            abbr(title='Среднее количество угаданных мафов') Точность лучшего хода
                        th Сострелен первым
                        th Выведен первым
                        th Фолов
                tbody
            include footer
