div.container.footer(align="center")
    small
        ul
            li
                a(href="http://vk.com/mafiatomsk") masons mafia club
            li
                a(href="mailto:osboo.osboo@gmail.com") связаться с разработчиком
include ga