doctype html
html(lang="ru")
    head
        title= "Мафия в Томске! Клуб MASONS"
        meta(charset='utf-8', name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/app.css')
        script(src='/js/jquery.min.js', type='text/javascript')
        script(src='/js/bootstrap.min.js', type='text/javascript')
    body
        include navigation
        .container
            .col-md-9
                h1 Средний рейтинг
                p В расчёте рейтинга мы применяем схему подсчёта 3-4-2, что означает, что баллы начисляются за победы согласно ролям:
                ul
                    li Мирный - 3
                    li Шериф - 3
                    li Мафия - 4
                    li Дон - 4

                p По желанию ведущего, также выставляются дополнительные баллы для лучших игроков партии. Ведущий имеет в своём распоряжении 2 балла, которые он может распределить по своему усмотрению между не более чем тремя игроками. Хорошей практикой считается не отдавать более 1 балла одному игроку. Нарушение этой практике означает действительно выдающуюся игру:)

                p Игрок за красную команду, сострелянный в первую ночь имеет право на лучший ход. Это означает что по окончанию своей прощальной минуты он может назвать 3 игроков, которых он считает мафией. В зависимости от количества угаданных чёрных игроков, состреляному игроку добавляются очки:
                ul
                    li 3 чёрных игрока - 1.0
                    li 2 чёрных игрок - 0.5
                    li 1 чёрный игрок - 0
                    li 0 чёрных игроков - 0

                p Средний рейтинг берётся как среднее арифметическое по всем играм

                h1 Очки опыта
                p Для учёта игрового опыта вводится величина:
                p
                    code exp = min(log2( количество игр ), 8)
                p где log2 - двоичный логарифм и максимальная надбавка за опыт есть
                    span &nbsp
                    b 8.0
                    span &nbspочков (что эквивалентно тому, что через 256 игр опыт больше не влияет на рейтинг)

                h1 Сравнение игроков
                h3 Разные дистанции
                p При сравнение двух игроков с разным количеством игр мы сравниваем их по сумме очков:
                p
                    code r = Средний рейтинг + очки опыта
                p При этом очки опыта учитываются только если винрейт игрока выше
                    span &nbsp
                    b 0.3
                    span &nbspчто исключает влияние дистанции на плохообучаемых, либо не мотивированных играть, игроков:
                p
                    code winrate = количество побед / количество игр
                h3 Одинаковые дистанции
                p В случае, если у игроков одинаковое количество игр, для их сравнения применяется турнирная схема сравнения:
                ul
                    li При одинаковом  количестве очков, преимущество имеет игрок, выигравший большее количество игр.
                    li Если, количество проигранных и выигранных игр одинаковое, то преимущество у игрока признанного лучшим большее количество раз.
                    li Далее, преимущество имеет игрок, выигравший черным большее количество раз,
                    li затем в роли Дона,
                    li затем в роли Шерифа.
                    li Далее, преимущество у игрока чаще убитого в первую ночь.

        include footer