div.container
    nav(role='navigation').navbar.navbar-default
        div.container-fluid
            div.navbar-header
                button(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse').navbar-toggle
                    span.sr-only Навигация по сайту
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a(href='http://vk.com/mafiatomsk').navbar-brand Masons
            div.collapse.navbar-collapse.navbar-ex1-collapse
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='/') Общий зачёт
                    li
                        a(href='/personal') Персональная статистика
                    li
                        a(href='/dream') Дрим-тим
