div.container
    nav.navbar.navbar-default(role='navigation')
        div.container-fluid
            div.navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
                    span.sr-only Навигация по сайту
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='http://vk.com/mafiatomsk') Masons
            div.collapse.navbar-collapse.navbar-ex1-collapse
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='/') Общий зачёт
                    li
                        a(href='/personal') Персональная статистика
                    li
                        a Дрим-тим
                        //a(href='/dream') Дрим-тим
