doctype html
html(lang="ru")
    head
        title= "Masons mafia club statistics"
        meta(charset='utf-8', name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/css/bootstrap.css')
        link(rel='stylesheet', href='/css/font-awesome.min.css')
        link(rel='stylesheet', href='/css/daterangepicker-bs3.css')
        link(rel="stylesheet", href='/css/morris.css')
        link(rel='stylesheet', href='/css/app.css')
        script(src='/js/jquery.js', type='text/javascript')
        script(src='/js/bootstrap.js', type='text/javascript')
        script(src='/js/moment.js', type='text/javascript')
        script(src='/js/ru.js', type='text/javascript')
        script(src='/js/daterangepicker.js', type='text/javascript')
        script(src="/js/raphael.js", type='text/javascript')
        script(src="/js/morris.js", type='text/javascript')
        script(src='/js/jquery.autocomplete.js', type='text/javascript')
        script(src='/js/personal_stat.js', type='text/javascript')
    body
        include navigation
        div.loader
            i.fa.fa-spinner.fa-spin.fa-5x
        div.container.container-fluid
            form.form-inline(role='form')
                div.form-group
                    input.form-control(type='text', placeholder='Имя игрока...', tabindex='1', name='player-name')
                div.form-group
                    input.form-control(type='submit', value='Найти', tabindex='3', name='find-button')
                div.form-group.pull-right
                    div.form-control
                        i.fa.fa-calendar.fa-lg.pull-right
                        span.js-daterange(tabindex='3') За всё время
                        b.caret
            div.statistics
                legend Персональная статистика
                div.result-block
                    h2 Рейтинг:
                        span &nbsp
                        strong.rating 12
                        small
                            span &nbsp
                            span в
                            span &nbsp
                            span.games-total 4
                            span &nbsp
                            span играх
                    div Среднее:
                        span &nbsp
                        strong.average-rating 3
                    div Лучшая карта:
                        span &nbsp
                        strong.recommended-card Мирный
                    div Точность лучшего хода:
                        span &nbsp
                        strong.best-move-accuracy 2.3
                    table.table.table-striped.table-hover.table-bordered.table-responsive
                        tr.headers
                            th #
                            th.citizen Мирным
                            th.sherif Шерифом
                            th.mafia Мафией
                            th.don Доном
                            th.total Всего
                        tr
                            td Побед
                            td.wins-citizen 1
                            td.wins-sheriff 0
                            td.wins-mafia 1
                            td.wins-don 0
                            td.wins-total 2
                        tr
                            td Игр
                            td.games-citizen 1
                            td.games-sheriff 1
                            td.games-mafia 1
                            td.games-don 1
                            td.games-total 4
                        tr
                            td Лучший игрок
                            td.best-citizen 1
                            td.best-sheriff 0
                            td.best-mafia 1
                            td.best-don 0
                            td.best-total 2
                        tr
                            td Лайков
                            td.likes-citizen 0
                            td.likes-sheriff 0
                            td.likes-mafia 3
                            td.likes-don 0
                            td.likes-total 3
                        tr
                            td Фолов
                            td.penalties-citizen 0
                            td.penalties-sheriff 0
                            td.penalties-mafia 3
                            td.penalties-don 0
                            td.penalties-total 3
                        tr
                            td Застрелен первым
                            td.first-killed-at-night-cititzen 0
                            td.first-Killed-at-night-sheriff 0
                            td.first-killed-at-night-mafia 0
                            td.first-Killed-at-night-don 0
                            td.first-Killed-at-night-total 0
                        tr
                            td Выведен первым
                            td.first-killed-at-day-cititzen 0
                            td.first-Killed-at-day-sheriff 0
                            td.first-killed-at-day-mafia 0
                            td.first-Killed-at-day-don 0
                            td.first-Killed-at-day-total 0
                    h2 Рейтинг за вечер
                        span &nbsp
                            small в % от максимального
                    div.efficiency-chart